@media screen and (min-width: 320px) {
    .container {
        max-width: 304px;
        padding-right: 8px;
        padding-left: 8px;
        margin: 0 auto;
    }


    .header{
        padding-bottom: 24px;
    }
    .header-list {
        display: none;
    }
    .header-address {
        display: none;
    }


    .slogan {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-slogan.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        flex-grow: 1;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        .slogan {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-slogan-2x.jpg);
        }
    }
    .slogan-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #FFFFFF;
    }


    .about-icon-item {
        display: none;
    }
    .about-item {
        margin-bottom: 72px;
    }
    .about-item:last-child {
        margin-bottom: 0;
    }
    .about-list {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .about-item-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }
    .about-item-text {
        width: 100%;
        text-align: left;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: #434455;
    }



    .doing {
        display: none;
    }


    .team-list {
        display: block;
        margin: 0 auto;
    }
    .team-item {
        width: 264px;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 72px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        .team-item {
            
        }
    }
    .team-item-wrap {
        
    }


    .customers-icon-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
    }
    .customers-icon-item {
        width: 190px;
        height: 88px;
    }


    .footer {
        background: var(--main-text-color, #2E2F42);
        padding: 100px 0;
    }
    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* flex-direction: column; */
    }
    .footer-text {
        text-align: center;
        justify-content: center;
        padding-bottom: 72px;
    }
    .footer-logo-link {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: var(--typical-lh);
        display: block;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-color, #4D5AE5);
        margin-bottom: 16px;
    }
    .footer-accent-logo{
        color: #F4F4FD;
    }
    .footer-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: #E7E9FC;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }
    .footer-soc {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 72px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .footer-soc-title {
        width: 100%;
        text-align: center;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    .subscribe-form {
        text-align: center;
        justify-content: center;
    }
    .subscribe-title {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding-bottom: 16px;
    }
    .subscribe-input {
        margin-bottom: 16px;
        min-width: 250px;
    }
    .subscribe-field {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .header-navigation{
        display: none;
    }
    .header-navigation-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .mobile-menu-btn {
        width: 32px;
        height: 22px;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu-btn-icon {
        fill: black;
    }
    .mobile-menu-list {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }
    .mobile-menu-item {
        padding-bottom: 40px;
    }
    .mobile-menu-address {
        
    }
    .mobile-menu-address-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .mobile-menu-soc-list {
        display: flex;
        gap: 30px;
        margin-top: 40px;
    }
    .container-menu {
        min-width: 250px;
    }
    .modal {
        width: 290px;
    }
    .mobile-menu-address-tel-link {
        font-size: 26px;
    }
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 450px;
    }
    .section{
        padding: 96px 0; 
    }
    .subscribe-input {
        margin-bottom: 16px;
        width: 100%;
    }
    .modal {
        width: 392px;
    }
    .mobile-menu-soc-list {
        display: flex;
        gap: 56px;
        margin-top: 56px;
    }
    .mobile-menu-address-tel-link {
        font-size: 36px;
    }
    .footer-desc {
        padding-left: 80px;
        padding-right: 80px;
    }
    .subscribe-input {
        min-width: 396px;
    }
}